#imageHeader{
    height: 80vh;
    background-repeat: no-repeat;
    object-fit: cover;
}
#headerContainer{
    margin-bottom: 550px;
}
.headerTitle{
    font-size: 60px;
    margin-bottom: 4rem;
    color: #fff;
}
.headerTitle h1{
    font-weight: 700;
    font-size: 60px;
}
.headerContent{
    max-width: 95rem;
    margin: auto;
    position: relative;
    bottom: 6rem;
}
.input{
    padding: 0.5rem;
}
.mainContainer{
    
    max-width: 95rem;
    margin: auto;
    position: relative;

    
}
.headerContentRight{
    
}
.model{
    max-width: 22.188rem;
    background-color: #f0eeee;
}
.modelCross{
    
}