.models{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 55vw;
    margin-left: 3rem;
}
.model{
    max-width: 22.188rem;
    background-color: #f1f0f0;
    margin: 0 1.5rem 2.5rem 0;
    cursor: pointer;
}
.openModel{
    background-color: #000;
    cursor: pointer;
}
.openModel:hover{
    background-color: #71757a;
    transition: all 250ms;
}
.openModel:not(:hover){
    transition: all 250ms;
}
@media (max-width:2200px) {
    .models{
        grid-template-columns: auto auto;
    }
}
@media (max-width:1500px) {
    .models{
        grid-template-columns: auto;
    }
}
@media (max-width:1000px) {
    .models{
        margin-left: 0;
    }
}
@media (max-width:700px) {
    .models{
        
        justify-content: center;
    }
}