.footerContainer{
    margin-top: 4rem;
    background-color: #0e0e12;
    color: white;
    
}
.footerContent{
    max-width: 50rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 5rem;
}
.footerSocialIcons{
    max-width: 50rem;
    margin: auto;
}
.footerLastInfo{
    max-width: 50rem;
    margin: auto;
    padding: 40px 0px 10rem 0px;
}
.footerLinks{
    margin-bottom: 5rem;
}
@media (max-width:900px) {
    .footerContent{
        max-width: 20rem;
        grid-template-columns: auto;
        text-align: center;
    }
    .footerSocialIcons{
        display: none;
    }
    .footerLastInfo{
        display: none;
    }
    
}
