#imageHeader{
    height: 80vh;
    background-repeat: no-repeat;
    object-fit: cover;
}
#headerContainer{
    margin-bottom: 550px;
}
.headerTitle{
    font-size: 60px;
    margin-bottom: 4rem;
    color: #fff;
}
.input{
    padding: 0.5rem;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #000000;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: #000000;
    border-radius: 1rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
.mainContainer{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
.headerContent{
  max-width: 23rem;
}
.headerButton{
  padding: 0.55rem 1rem 0.55rem 1rem;
  background-color: #000000;
}
.headerButton:hover{
  transition: all 250ms;
  background-color: #71757a;
}
.headerButton:not(:hover){
  transition: all 250ms;
}
@media (max-width:1000px) {
  .mainContainer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
  }
}

