.MPContainer{
    /* background-image: url("https://www.stuttgartporsche.com.br/webp/pub/banners/porsche-pa_1_240430_2608.jpg/"); */
    /* background-image: url("https://www.stuttgartporsche.com.br/webp/pub/banners/inscricoes_1_240619_2901.jpg/"); */
    width: 100%;
}
.MPContainer img {
    width: 100vw;
    height: 77vh;
}


