.servicesContainer{
    max-width: 110rem;
    margin: auto;
    text-align: center;
}
.servicesImages{
    display: grid;
    grid-template-columns: auto auto;
}
.servicesImages1{
    display: inline-block;
    position: relative;
    
}
.servicesImages1 h4{
    left: 50px;
    bottom: 50px;
}
@media (max-width:2000px) {
    .servicesImages{
        display: flex;
        flex-direction: column;
    }
    .servicesImages1 h4{
        display: none;
    }
}
