.unitsContainer{
    max-width: 100rem;
    margin: auto;
}
.unitsInfo{
    display: flex;
    justify-content: center;
}
.infoLocation{
    width: 580px;
    height: 485.56px;
    background-color: #f0f0f0;
}
.unitsRow{
    width: 390px;
}
.unitsBtn{
    color: #000;
    background-color: #fff;
    margin: 10px;
}
.unitsBtn:hover{
    background-color: #000;
    color: #fff;
    transition: all 500ms;
}
.unitsBtn:not(:hover){
    transition: all 500ms;
}
